// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap');

// Font Variables
$lato: 'Lato', sans-serif;

// Color Variables
$primary-color: #00b5d2;
$secondary-color: #e1aa6e;
$text-color-white: #ffffff;
$text-color-lighten-grey: #777777;
$text-color-darken-grey: #444444;
